<!doctype html>
<html class="no-js" ng-app="plannrs">
<head>
    <meta charset="utf-8">
    <title>plannrs</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../bower_components/nvd3/src/nv.d3.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/jira.css">
    <!-- endbuild -->
</head>
<body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->


            <div class="container" ng-controller="mainController">
                <div class="header">
                    <ul class="nav nav-pills pull-right">
                        <!-- <li class="active"><a href="#">Home</a></li> -->
                        <!-- <li><a href="#">About</a></li> -->
                        <!-- <li><a href="#">Contact</a></li> -->
                    </ul>
                    <h3 class="text-muted">plannrs</h3>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-group input-group--jira">
                            <form ng-submit="addIssue()">
                                <input type="text" class="form-control" placeholder="Add ticket summary" ng-model="ui.issueSummary">
                                <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <!-- Projects -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="btn-group btn-group--jira">
                                  <button type="button" class="btn btn-primary">Project</button>
                                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-click="loadProjects()">
                                      {{ui.projectLabel}} <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu" role="menu">
                                    <li ng-repeat="project in data.projects | orderBy: 'key'"><a href="#" ng-click="selectProject(project)">{{project.key}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- <br>
                    <!-- Priorities --> <!--
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="btn-group btn-group--jira">
                                  <button type="button" class="btn btn-primary">Priority</button>
                                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-click="loadPriorities()">
                                      {{ui.priorityLabel}} <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu" role="menu">
                                    <li ng-repeat="priority in data.priorities | orderBy: 'name'"><a href="#" ng-click="selectPriority(priority)">{{priority.name}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div> -->
                    <br>
                    <!-- Components -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="btn-group btn-group--jira">
                                <button type="button" class="btn btn-primary">Components</button>
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-click="loadComponents()">
                              {{ui.componentLabel}} <span class="caret"></span>&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-remove" ng-click="clearComponent()"></span>
                              </button>
                              <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="component in data.components | orderBy: 'name'"><a href="#" ng-click="selectComponent(component)">{{component.name}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <br>
                    <!-- Affected Version -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="btn-group btn-group--jira">
                              <button type="button" class="btn btn-primary">Affected Version</button>
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-click="loadVersions()">
                              {{ui.affectedVersionLabel}} <span class="caret"></span>&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-remove" ng-click="clearAffectedVersion()"></span>
                              </button>
                              <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="version in data.versions | orderBy: 'name'"><a href="#" ng-click="selectAffectedVersion(version)">{{version.name}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <br>
                    <!-- Fix Version -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="btn-group btn-group--jira">
                              <button type="button" class="btn btn-primary">Fix Version</button>
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-click="loadVersions()">
                              {{ui.fixVersionLabel}} <span class="caret"></span>&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-remove" ng-click="clearFixVersion()"></span>
                              </button>
                              <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="version in data.versions | orderBy: 'name'"><a href="#" ng-click="selectFixVersion(version)">{{version.name}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <br>
                    <!-- Label -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="btn-group btn-group--jira">
                              <button type="button" class="btn btn-primary">Label</button>
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                              {{ui.labelLabel}} <span class="caret"></span>&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-remove" ng-click="clearLabel()"></span>
                              </button>
                              <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="label in data.labels | orderBy: 'name'"><a href="#" ng-click="selectLabel(label)">{{label}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <br>
                    <!-- Epic -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="btn-group btn-group--jira">
                              <button type="button" class="btn btn-primary">Epic</button>
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-click="loadEpics()">
                              {{ui.epicLabel}} <span class="caret"></span>&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-remove" ng-click="clearEpic()"></span>
                              </button>
                              <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="epic in data.epics | orderBy: 'fields.customfield_10901'"><a href="#" ng-click="selectEpic(epic)">{{epic.fields.customfield_10901}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="btn-group btn-group--jira">
                              <button type="button" class="btn btn-primary" ng-click='createIssue()'>Submit Issue</button>
                        </div>
                    </div>
                </div> -->

            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default panel--jira">
                            <div class="panel-body">
                                <ul class="list-group">
                                  <li class="list-group-item" ng-show="!data.issues.length">No issues</li>
                                  <li class="list-group-item" ng-repeat='issue in data.issues'>{{issue.summary}}<span class="glyphicon glyphicon-remove" ng-click="removeIssue($index)"></span></li>
                                </ul>
                                <button ng-show="data.issues.length" type="button" class="btn btn-primary" ng-click='createBulkIssues()'>Create issues</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row marketing">
            <div class="col-lg-6"> 
                <h4>Plannrs</h4>
                <p>JIRA connection tool to fetch the amount of work allocated per different epics to showcase it in a Gantt Style format.</p>
            </div>
        </div>

        <div class="footer">
            <p><span class="glyphicon glyphicon-heart"></span> from the Web team</p>
        </div>

    </div>


    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/d3/d3.js"></script>
    <script src="../bower_components/nvd3/nv.d3.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="../bower_components/moment/moment.js"></script>
    <script src="../bower_components/angular-moment/angular-moment.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <!-- build:js scripts/plugins.js -->
    <script src="../bower_components/bootstrap/js/affix.js"></script>
    <script src="../bower_components/bootstrap/js/alert.js"></script>
    <script src="../bower_components/bootstrap/js/dropdown.js"></script>
    <script src="../bower_components/bootstrap/js/tooltip.js"></script>
    <script src="../bower_components/bootstrap/js/modal.js"></script>
    <script src="../bower_components/bootstrap/js/transition.js"></script>
    <script src="../bower_components/bootstrap/js/button.js"></script>
    <script src="../bower_components/bootstrap/js/popover.js"></script>
    <script src="../bower_components/bootstrap/js/carousel.js"></script>
    <script src="../bower_components/bootstrap/js/scrollspy.js"></script>
    <script src="../bower_components/bootstrap/js/collapse.js"></script>
    <script src="../bower_components/bootstrap/js/tab.js"></script>
    <!-- endbuild -->

    <!-- build:js({app,.tmp}) scripts/main.js -->
    <script src="scripts/mainModule.js"></script>
    <script src="scripts/mainController.js"></script>
    <script src="scripts/mainService.js"></script>
    <!-- endbuild -->
</body>
</html>
